baseURL = 'https://blog.cyberselab.com/'
languageCode = 'zh-cn'
title = 'Cyberselab'
theme = 'hugo-theme-stack'

[services]
  [services.googleAnalytics]
    ID = 'G-XXGXCHWTVM'

[params]
  mainSections = ["post"]
  
  [params.sidebar]
    subtitle = "我的个人博客"
    [params.sidebar.avatar]
      enabled = true
      local = true
      src = "avatar.png"

  [params.widgets]
    [[params.widgets.homepage]]
        type = "search"

    [[params.widgets.homepage]]
        type = "archives"
        [params.widgets.homepage.params]
            limit = 5

    [[params.widgets.homepage]]
        type = "categories"
        [params.widgets.homepage.params]
            limit = 10

    [[params.widgets.homepage]]
        type = "tag-cloud"
        [params.widgets.homepage.params]
            limit = 10

[[menu.main]]
    identifier = "home"
    name = "首页"
    url = "/"
    weight = 1
    [menu.main.params]
        icon = "home"

[[menu.main]]
    identifier = "archives"
    name = "归档"
    url = "/archives/"
    weight = 2
    [menu.main.params]
        icon = "archives"

[[menu.main]]
    identifier = "search"
    name = "搜索"
    url = "/search/"
    weight = 3
    [menu.main.params]
        icon = "search"
